.homePage {
  .banner-homePage {
    background-image: url("/img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;

    width: 100%;
    .content-homePage {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;

      .content-itens-homePage {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 1270px;
        justify-content: center;
        position: relative;

        h2 {
          color: var(--text-color-banner);
          display: flex;
          align-items: center;
          font-size: 2.2rem;
          letter-spacing: 2px;
          line-height: 1.3;
          margin-bottom: 20px;
          margin-left: 10px;
        }

        button {
          background-color: var(--hoverButton);
          width: 130px;
          height: 40px;
          border-radius: 7px;
          border: none;
          color: var(--text-color-white);
          margin-left: 10px;
          &:hover {
            background-color: var(--hover-button-banner);

            transition: 0.2ms;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }

          a {
            color: var(--text-color-white);
            text-decoration: none;
            font-weight: 400;
            font-family: Poppins;
          }
        }
      }
    }
  }

  .content-features-homePage {
    width: 100%;
    display: flex;
    flex-direction: column;

    .content-features-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      position: relative;
      top: 50px;

      h2 {
        font-size: 2.6rem;
        color: var(--text-color);
        padding-bottom: 10px;
      }

      p {
        font-size: 1.2rem;
        color: var(--text-color-plain);
        padding-bottom: 10px;
      }
    }
  }
  .to-top {
    position: fixed;
    left: 89%;
    top: 90%;
    background-color: var(--hoverButton);
    width: 130px;
    height: 40px;
    border-radius: 7px;
    border-bottom: 6px;
    color: var(--text-color-white);
    &:hover {
      background-color: var(--hover-button-banner);
      transition: 0.2ms;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}