header {
  width: 100%;
  position: relative;

  .container-navbar {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container-fixed-navbar {
      width: 100%;
      background-color: var(--background-navbar);
      position: fixed;
      display: flex;
      justify-content: center;
      top: 0;
      z-index: 99;

      .content-navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1270px;
        height: 100px;

        .content-img {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 100px;
            height: 100px;
          }
        }

        .content-menu {
          display: flex;
          height: 100%;

          ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
              list-style: none;
              margin: 0 10px;

              a {
                text-decoration: none;
                color: var(--text-color-white);
                font-size: 20px;
                font-weight: 600;
                transition: 0.5s;
                &:hover {
                  color: var(--hoverButton);
                  border-bottom: 1px solid var(--hoverButton);
                  transition: 0.5s;
                }
              }
            }
          }
        }
      }
    }
  }
}
