@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
  font-family: Popins, sans-serif;
}

html,
body {
  background-color: rgb(219, 219, 219);
  width: 100%;
}

:root {
  --text-color: #003c64;
  --background-navbar: #00337a;
  --background-footer: #1f2f46;
  --text-color-white: #f3f3f3;
  --hover-button-banner: #003cff;
  --text-color-banner: #e5e3f0;
  --text-color-plain: rgb(100, 100, 100);
  --background-color: #333;
  --hoverButton: #4675f7;
}
