.container-singUp-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(194, 194, 194, 0.548),
      rgba(167, 167, 167, 0.7)
    ),
    url(../img/backgroundLogin.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;

  .button-goback {
    //position: absolute;
    position: fixed;
    //display: block;
    right: 93%;
    bottom: 92%;
    background-color: var(--hoverButton);
    width: 80px;
    height: 40px;
    border-radius: 7px;
    border: none;
    color: var(--text-color-white);
    &:hover {
      background-color: var(--hover-button-banner);
      transition: 0.2ms;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    a {
      color: var(--text-color-white);
      text-decoration: none;
      font-weight: 400;
      font-family: Poppins;
    }
  }

  .singUp-content {
    background-color: #b1bbc4;
    box-shadow: 0px 1px 5px 3px rgb(197, 197, 197);
    display: flex;
    width: 970px;
    max-width: 970px;
    height: 510px;
    border-radius: 10px;

    .form-singUp {
      display: flex;
      width: 100%;
      .singUp-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        img {
          width: 200px;
          height: 200px;
          margin-top: 20px;
        }

        .input-content-singUp {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          margin-bottom: 10px;
          .input-left-singUp {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-left: 30px;
            justify-content: center;

            .div-input {
              display: flex;
              flex-direction: column;
              width: 100%;
              span {
                text-align: left;
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 10px;
              }

              input {
                width: 70%;
                height: 2.7rem;
                margin-bottom: 1rem;
                border: none;
                border-radius: 5px;
                outline: none;
                padding: 0 1rem;
              }
            }
          }

          .input-right-singUp {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 30px;
            align-items: center;
            justify-content: center;

            .div-input {
              display: flex;
              flex-direction: column;
              width: 100%;
              span {
                text-align: left;
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 10px;
              }
              input {
                width: 70%;
                height: 2.7rem;
                margin-bottom: 1rem;
                border: none;
                border-radius: 5px;
                outline: none;
                padding: 0 1rem;
              }
            }
          }
        }

        .button-singUp {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-bottom: 20px;

          button {
            width: 20%;
            height: 2.5rem;
            border: none;
            border-radius: 5px;
            background-color: var(--hoverButton);
            color: var(--text-color-white);
            font-size: 1.2rem;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
              background-color: var(--hover-button-banner);
              -moz-transition: all 0.3s;
              -webkit-transition: all 0.3s;
              transition: all 0.3s;
              -moz-transform: scale(1.1);
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
          }

          a {
            color: var(--text-color);
            font-size: 1.1rem;
            margin-top: 1rem;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              opacity: 0.9;
            }
          }
        }
      }
    }
  }
  // ###################### Efeito fade left ######################

  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
}
