.container-modal-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(194, 194, 194, 0.548),
      rgba(167, 167, 167, 0.7)
    ),
    url(../img/backgroundLogin.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;

  .button-goback {
    //position: absolute;
    position: fixed;
    //display: block;
    right: 93%;
    bottom: 92%;
    background-color: var(--hoverButton);
    width: 80px;
    height: 40px;
    border-radius: 7px;
    border: none;
    color: var(--text-color-white);
    &:hover {
      background-color: var(--hover-button-banner);
      transition: 0.2ms;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    a {
      color: var(--text-color-white);
      text-decoration: none;
      font-weight: 400;
      font-family: Poppins;
    }
  }

  .modal-status-content {
    background-color: #b1bbc4;
    box-shadow: 0px 1px 5px 3px rgb(197, 197, 197);
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 600px;
    height: 300px;
    max-height: 300px;
    border-radius: 10px;

    table {
      width: 100%;
      height: auto;
      border-collapse: collapse;
      border-spacing: 0;

      thead {
        tr {
          margin-top: 30px;
          th {
            text-align: center;
            padding: 10px;
            font-size: 20px;
            font-weight: 600;
            color: var(--hover-button-banner);
          }
        }
      }

      tbody {
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
        tr {
          margin-top: 30px;

          td {
            text-align: center;
            padding: 10px;
            font-size: 15px;
            font-weight: 600;
            color: var(--text-color-white);
            background-color: var(--hoverButton);
          }
        }
      }
    }
  }
}
